#piggyBackground{
    background-image: url(../resources/pigBackground.jpg);
    background-repeat: repeat;
    height: auto;
    display: inline-block;
}

.header{
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.pic{
    width: 100%;
    height: auto;
    padding-top: 15%; 
    padding-bottom: 15%;
}

#mainDiv{
    background-color: aliceblue;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 20px;
    height:auto;
    display:inline-block;
}

p{
    text-align: center;
}