#piggyBackground{
    background-image: url(../resources/pigBackground.jpg);
    background-repeat: repeat;
    height: auto;
    display: inline-block;
    margin-top: 0%;
    padding-top: 0%;
}

.header{
    color: aliceblue;
    text-align: center;
    padding-bottom: 5%;
}

.pic{
    width: 80%;
    height: auto;
    padding-top: 10%; 
    padding-bottom: 10%;
}

#mainDiv{
    background-color: aliceblue;
    margin-right: 25%;
    margin-left: 25%;
    padding-top: 20px;
    height:auto;
    display:inline-block;
    text-align: center;
}

p{
    text-align: center;
}